{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Update Password</h1>
<form method="post">
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <p><label for="old_pass">Old Password</label></p>
    <p><input type="password" name="old_pass"><p>
    <p><label for="new_pass1">New Password</label></p>
    <p><input type="password" name="new_pass1"></p>
    <p><label for="new_pass2">Confirm Password</label></p>
    <p><input type="password" name="new_pass2"></p>
    <p><input type="submit" value="Update Password"></p>
    </form>
{% endblock %}